:root{
    /* color */
    --reColor_1: ;
    --reColor_2: ;
    --reColor_3: ;
    --reColor_4: ;
    --reColor_5: ;
    --reColor_6: ;
    --reColor_7: ;
    --reColor_8: ;
    
    


    /* Font Size */
    --reFontSize_1: 26px;
    --reFontSize_2: 14px;
    --reFontSize_3: 29px;
    --reFontSize_4: 20px;
    --reFontSize_5: 11px;
    --reFontSize_6: ;
    --reFontSize_7: ;
    --reFontSize_8: ;
    --reFontSize_9: ;



    /* Font Weight */
    --reFontWeight_1: ;
    --reFontWeight_2: ;
    --reFontWeight_3: ;
    --reFontWeight_4: ;
    --reFontWeight_5: ;
    --reFontWeight_6: ;
    --reFontWeight_7: ;
    --reFontWeight_8: ;
    --reFontWeight_9: ;




    /* Line Height */
    --reLineHeight_1: 1.5;
    --reLineHeight_2: ;
    --reLineHeight_3: ;
    --reLineHeight_4: ;
    --reLineHeight_5: ;
    --reLineHeight_6: ;
    --reLineHeight_7: ;
    --reLineHeight_8: ;
    --reLineHeight_9: ;
















}